<div class="container pt-5">
<h1>restaurant near you </h1>
<% @restaurants.each do |restaurant| %>
<%= link_to restaurant.name, restaurant_path(restaurant.id) %>
<p><%= restaurant.category %></p>
<% end %>


<%= link_to "add new restaurant", new_restaurant_path, class:"btn btn-primary w-25" %>
</div>
